body {
    font-family: Arial, sans-serif;
    background: url(img/2.jpeg) no-repeat top center/cover;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: url(img/2.jpeg) no-repeat top center/cover;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

input, select, button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

#resultado {
    margin-top: 20px;
    font-weight: bold;
}